<ion-view view-title="Gestion d'équipe">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
            <div class="avatar" style="background-image: url('img/daenerys.jpg');position: relative;"></div>
            <button style="float: right;margin-top:20px;">Edit TeamPhoto</button>
            <div  class="card">
                     <label class="item item-input item-floating-label">
                    <span class="input-label">TAG TEAM</span>
                    <input type="text" placeholder="Tag Team" ng-model="user.tag_team">
                </label>
                </div>
                <button class="button button-fab button-balanced icon ">+</button><i>add player</i>
                 <ion-list class="animate-ripple">
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="blinds();">
                <img src="img/material4.jpg">
                <h2>ANISSE BADER</h2>
                <p>AKA EL CRISTIANO RONALDO</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="blinds();">
                <img src="img/material2.jpg">
                <h2>ASAP ROCKY</h2>
                <p>ionicMaterialMotion.ripple();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
        </ion-list>
       <button class="button button-block button-full button-calm" ng-click="showPopup()">proposer un match</button>
    </ion-content>
</ion-view>
