<ion-view view-title="Terrain" align-title="left">
    <ion-content>
        <div class="im-wrapper">
            <!-- Ionic Components -->
             <h4>Création d'un terrain</h4>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nom du terrain</span>
                    <input type="text" placeholder="Nom du terrain" ng-model="field.name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Adresse</span>
                    <input type="text" placeholder="Adresse" ng-model="field.location">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Détails</span>
                    <textarea class="input" rows="10" cols="10" placeholder="Détails" ng-model="field.details"></textarea>
                </label>
                <label class="item item-input item-floating-label">
                    Photo du terrain
                    <span class="input-label">Image du terrain</span>
                    <input type="file" id="file">
                </label>
                <button class="button button-block button-balanced ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="create(field)">
                    Valider
                </button>
                <button ui-sref="app.fields" class="button button-block button-assertive ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
                    Retour
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>