<ion-view view-title="Joueurs">
    <ion-content ng-class="{expanded:isExpanded}">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Rechercher un joueur">
        </label>
        <div class="content has-header">
            <div class="list" ng-repeat="user in users">
                <a ui-sref="app.player({playerId: user.id})" class="item item-avatar item-icon-right">
                    <img src="" ng-attr-id="{{ user.id}} " class="photoFriend">
                    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                    <p>{{ user.nick }}</p> 
                    <i class="icon ion-plus"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
