<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-buttons side="right">
                <button class="button button-icon icon ion-navicon flat" style="color: white;" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="dark-bg expanded">
            <span class="avatar" style="background: url('img/crown.jpg'); background-size: cover;"></span>
            <h2>SocialSoccer</h2>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="app.profile">
                    Vue d'ensemble
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.friends">
                    Joueurs
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.gallery">
                    Terrains
                </ion-item>
                <ion-item nav-clear menu-close ng-click="signOut()">
                    Se déconnecter
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
