<ion-view view-title="Aperçu">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" ng-style="{'background-image':'url('+backgroundUrl+')'}">
            <div class="content">
                <div class="avatar"><img ng-src="" alt="photo de profile" class="imgProfil"></div>
                <h3><a class="light">{{ data.first_name}} {{ data.last_name }}</a></h3>
                <h4>{{ data.nick }}</h4>
            </div>
        </div>
        <div ng-hide="teamDisplay">
            <h4 class="content padding double-padding-x">Formation</h4>

            <div class="content has-header">
                <div class="list" ng-repeat="user in players">
                    <a ui-sref="app.player({playerId: user.id})" class="item item-avatar item-icon-right">
                        <img src="" ng-attr-id="{{ user.id}} " class="photoFriend">
                        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                        <p>{{ user.nick }}</p> 
                    </a>
                </div>
            </div>
        </div>
        <div ng-show="teamDisplay" class="list animate-fade-slide-in-right teamDisplay">
            Ce joueur n'est pas dans une équipe.
        </div>
    </ion-content>
</ion-view>
