<ion-view view-title="Vue d'ensemble">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" ng-style="{'background-image':'url('+backgroundUrl+')'}">
            <div class="content">
                <div class="avatar"><img src="" alt="photo de profile" class="imgProfil"></div>
                <h3><a class="light">{{ data.first_name}} {{ data.last_name }}</a></h3>
                <h4>{{ data.nick }}</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ng-show="isCaptain" ng-click="changeView(0)" class="tab-item capitaine">
                <i class="icon ion-arrow-graph-up-right"></i> Gestion de l'équipe
            </a>
            <a ng-click="changeView(1)" class="tab-item">
                <i class="icon ion-android-people" ></i> Formation
            </a>
            <a ng-click="changeView(2)" class="tab-item">
                <i class="icon ion-images"></i> Parametre du compte
            </a>
            <a ng-hide="teamDisplay" ng-click="changeView(3)" class="tab-item">
                <i class="icon ion-chatbubbles"></i> Chat d'équipe
            </a>
        </div>

         <div ng-hide="pannels[0]" class="pannelProfil">
            <h4 class="content padding double-padding-x">Gestion de l'équipe</h4>
        </div>

        <div ng-hide="pannels[1]" class="pannelProfil">
            <h4 ng-hide="teamDisplay" class="content padding double-padding-x">Formation - {{ team.name }}</h4>
            <h4 ng-show="teamDisplay" class="content padding double-padding-x">Formation</h4>

            <div ng-hide="teamDisplay" class="content has-header">
                <div class="list" ng-repeat="user in players">
                    <a ui-sref="app.player({playerId: user.id})" class="item item-avatar item-icon-right">
                        <img src="" ng-attr-id="{{ user.id}} " class="photoFriend">
                        <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                        <p>{{ user.nick }}</p> 
                    </a>
                </div>
            </div>

            <div ng-show="teamDisplay">
                <p>Vous n'apartenez à acune équipe pour le moment.</p>
                <button ui-sref="app.teams" class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
                    Rejoindre une équipe
                </button>
                <button ui-sref="app.teamCreation" class="button button-block button-balanced ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="update(data)">
                    Créer une équipe
                </button>
            </div>
        </div>

        <div ng-hide="pannels[2]" class="pannelProfil">
            <h4 class="content padding double-padding-x">Paramètres du compte</h4>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Prénom</span>
                    <input type="text" placeholder="Prénom" ng-model="data.first_name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nom</span>
                    <input type="text" placeholder="Nom" ng-model="data.last_name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Surnom</span>
                    <input type="text" placeholder="Surnom" ng-model="data.nick">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Ville</span>
                    <input type="text" placeholder="Ville" ng-model="data.city">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Code Postal</span>
                    <input type="text" placeholder="Code Postal" ng-model="data.cp">
                </label>
                <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="update(data)">
                    Modifier
                </button>
                <div ng-hide="teamDisplay">
                    <h4 class="content padding double-padding-x">Equipe</h4>
                    <button class="button button-block button-assertive ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="leave(team)">
                        Quitter {{ team.name }}
                    </button>
                </div>
            </div>
        </div>

         <div ng-hide="pannels[3]" class="pannelProfil">
            <h4 class="content padding double-padding-x">Chat d'équipe</h4>
        </div>
    </ion-content>
</ion-view>
