
<ion-view view-title="Foot2Rue">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Profil</strong>
        </div>
        <div class="im-wrapper">
            <!-- Ionic Components -->
             <h4 class="border-top"><i class="icon ion-edit"></i> Création de profil</h4>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="First Name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last Name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">City</span>
                    <input type="text" placeholder="City">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Code Postal</span>
                    <input type="text" placeholder="Code Postal">
                </label>
                <br />
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    I read the terms &amp; conditions.
                </div>
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Haha, you liar. There are no T&amp;Cs.
                </div>
                <br />
                <div class="item range range-positive">
                    <i class="icon ion-ios-sunny-outline"></i>
                    <input type="range" name="volume" min="0" max="100" value="33">
                    <i class="icon ion-ios-sunny"></i>
                </div>
                <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
                    Submit
                </button>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>
