<ion-view view-title="Login" align-title="left">
    <ion-content>
        <div class="im-wrapper">
            <!-- Ionic Components -->
             <h4 class="border-top"><i class="icon ion-edit"></i> Création de profil</h4>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Prénom</span>
                    <input type="text" placeholder="Prénom" ng-model="user.first_name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nom</span>
                    <input type="text" placeholder="Nom" ng-model="user.last_name">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Surnom</span>
                    <input type="text" placeholder="Surnom" ng-model="user.nick">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email" ng-model="user.email" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Mot de passe</span>
                    <input type="password" placeholder="Mot de passe" ng-model="user.password" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Confirmer mot de passe</span>
                    <input type="password" placeholder="Confirmer mot de passe" ng-model="user.password2" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Image du profile</span>
                    <input type="file" id="file">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Ville</span>
                    <input type="text" placeholder="Ville" ng-model="user.city">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Code Postal</span>
                    <input type="text" placeholder="Code Postal" ng-model="user.cp">
                </label>
                <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="create(user)">
                    Valider
                </button>
                <button ui-sref="login" class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
                    Retour
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>